.cart {
    .cart-main {

        .productContent {
            background-color: #fff;
            padding: 2rem;
            display: flex;
            flex-wrap: wrap;
            border-radius: 6px;
            margin-top: 40px;

            &:first-child {
                margin-top: 0;
            }

            p {
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #000;

                span {
                    color: #888
                }

                .total {
                    color: #000;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }

    .subtotal {
        background-color: #fff;
        padding: 2rem;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3rem;
        border-radius: 6px;

        p {
            margin-bottom: 0;
            color: #f1c93f;
            font-size: 26px;
            font-weight: bold;
        }

        button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 1.5rem;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .cart {
        .cart-container {
            display: flex;
            justify-content: space-between;

            .cart-main {
                display: flex;
                flex-direction: column;
                width: 54%;

                .productContent {
                    p {
                        .total {
                            font-size: 20px;
                        }
                    }
                }
            }

            .subtotal {
                width: 40%;
                margin-top: 0;

                h2,
                p {
                    width: 50%;
                }

                p {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}


.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  .cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  }
  
  .list-group .list-group-item {
    margin-bottom: 1.5rem;
  }
  
  .list-group-item+.list-group-item {
    border-top-width: 1px;
  }
  
  .list-group .list-group-item .row {
    align-items: center;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  
  .filters {
    background-color: #1c1c1c;
    padding: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .filters span {
    color: #fff;
    margin-bottom: 8px;
  }

@media only screen and (min-width: 768px) {

    .search {
    display: none !important;
    }

    .products {
    width: 48%;
    }

    .list-group {
        width: 67%;
    }

    .filters {
        width: 29%;
    }
}

@media only screen and (min-width: 990px) {
    .products {
      width: 23%;
    }
  }