.faq {

    .accordion {
        .accordion-item {
            margin-bottom: 25px;
            border-radius: 8px !important;

            .accordion-header {
                button {
                    background: linear-gradient(178deg, #f83487, #423ebd);
                    color: #fff;
                    border: none;
                    box-shadow: none;
                    padding: 1.5rem;
                    font-size: 18px;
                }
            }
        }
    }
}