.material {
    ul {
        margin-bottom: 0 !important;
        margin: 0 5px;

        li {
            button {
                color: #000;
            }
        }
    }

    .material-list {
        .material-box {
            width: 100%;
            margin: 0 5px 30px;
            transition: .5s ease-in-out;

            img {
                width: 100%;
            }

            .material-text {
                transition: .5s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 10px;

                h3 {
                    text-align: center;
                    font-size: 1.7rem;
                    margin-bottom: 0;
                }
            }

            // &:hover {
            //     .material-text {
            //         height: 24%;
            //         transition: .5s ease-in-out;
            //         border: 1px solid #dededea1;

            //         h3 {
            //             opacity: 1;
            //             transition-delay: .3s;
            //             margin-bottom: 0;
            //         }
            //     }
            // }
        }

        .sub-heading {
            h5 {
                width: fit-content;
                border-bottom: 1px solid #000;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .material {
        .material-list {
            .material-box {
                width: 48%;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .material {
        .material-list {
            .material-box {
                width: 32.2%;
            }
        }
    }
}

@media only screen and (min-width: 1020px) {
    .material {
        .material-list {
            .material-box {
                width: 23.9%;

                .material-text {
                    h3 {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}