.accessibility {
    h3 {
        font-size: 1.5rem;
        margin: 40px 0 20px;

        &:first-child {
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .accessibility {
        p {
            font-size: 17px;
        }

        h3 {

            &:first-child {
                margin-top: 40px;
            }
        }
    }
}