.customer {
    background-color: #ebf1f5;

    .masonry-item {
        h3 {
            font-weight: bold;
        }

        h4 {
            color: #f1c93f;
            font-weight: bold;
            font-size: 20px;
        }

        p {
            font-style: italic;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .customer {

        .masonry-item {
            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 16px;
            }
        }


        .my-masonry-grid {
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                border-radius: 50%;
            }

            &::before {
                right: 45px;
                bottom: 110px;
                height: 140px;
                width: 140px;
                background-color: rgba(0, 0, 0, .02);
            }

            &::after {
                right: 80px;
                bottom: 144px;
                height: 70px;
                width: 70px;
                background-color: rgba(0, 0, 0, .03);
                animation: circleMover 10s linear infinite;
            }
        }

    }
}

@media only screen and (min-width: 768px) {
    .customer {

        .masonry-item {
            h3 {
                font-size: 24px;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}