.frame {
    background-color: rgb(183 183 183 / 9%);

    .row {
        margin: 0 auto;
<<<<<<< HEAD
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 30px;
            left: 5px;
            height: 70px;
            width: 70px;
            background-color: #bdbdbd1a;
            ;
            border-radius: 10px;
            animation: 10s rotate linear infinite;
        }
=======
>>>>>>> 7065b2c93f53f5d91ade4383afa827e5018db14d

        .col-12 {
            margin-bottom: 30px;

            .card {
                height: 100%;
                border: none;

                img {
                    max-width: 200px;
                    margin: 0 auto;
                    object-fit: contain;
                    padding: 1rem;
                    min-height: 201px;
                    display: flex;
                    align-items: center;
                }

                .card-title,
                .card-text {
                    text-align: center;
                }

                .card-title {
                    color: #f1c93f;
                    font-weight: bold;
                    margin: 12px 0;
                    font-size: 24px;
                }
            }
        }
    }
<<<<<<< HEAD
}

@media only screen and (min-width: 768px) {
    .frame {

        .row {

            &::before {
                left: -15px;
                height: 100px;
                width: 100px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .frame {

        .row {

            &::before {
                left: -25px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) {
    .frame {

        .row {

            &::before {
                top: 20px;
                left: -36px;
                height: 130px;
                width: 130px;
            }
        }
    }
=======

>>>>>>> 7065b2c93f53f5d91ade4383afa827e5018db14d
}