.settings {
    .side-tab {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-radius: 5px;
        padding: 0;
        height: fit-content;
        .side-main {
            .nav-item {
                --bs-nav-pills-link-active-bg: #ebf1f5;
                --bs-nav-pills-link-active-color: #000;
                padding: 0px;
                a {
                    color: #000;
                    padding: 15px 10px;
                }

                a.nav-link.active {
                    position: relative;
                    font-weight: bold;
                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: #000;
                        height: 100%;
                        width: 6px;
                        border-radius: 0px 6px 0px 0px;
                    }
                }

                &:nth-child(odd) {
                    a.nav-link.active {
                        &::before {
                            border-radius: 0px 6px 0px 0px;
                        }
                    }
                }

                &:nth-child(even) {
                    a.nav-link.active {
                        &::before {
                            border-radius: 0px 0px 6px 0px;
                        }
                    }
                }
            }
        }
    }

    .tab-main {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        .tab-content {
            form {
                margin-top: 2rem;
                .input-container {
                    margin-bottom: 25px;
                    label {
                        width: fit-content;
                        background-color: #fff;
                        margin-bottom: -11px;
                        display: flex;
                        position: relative;
                        z-index: 2;
                        margin-left: 15px;
                        color: #6a6a6a;
                        font-size: 14px;
                    }
                    input {
                        height: 48px;
                        position: relative;
                        background: 0 0;
                        z-index: 1;
                        width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        padding: 12px 16px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}